/* Cal Sans Semi Bold */
@font-face {
  font-family: 'Cal Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../../assets/fonts/CalSans-SemiBold.woff2') format('woff2'),
    url('../../assets/fonts/CalSans-SemiBold.woff') format('woff');
}